{%- liquid
  assign default_image = 'blank.svg' | asset_url
  assign image = image_mobile | default: image_desktop | default: img_object

  assign has_image = image and image != blank and image != '' and image contains 'cdn.shopify.com'

  assign image_width = image.width | at_most: 4100 | default: 4100
  assign width = width | default: image_width
  assign height = height | default: image.height | default: 600
  assign sizes = sizes | default: '100vw'
  assign fetchpriority = fetchpriority | default: null
  assign classes = classes | default: ''
  assign image_classes = 'static-image'
  assign styles = styles | default: ''
  assign image_attributes = image_attributes | default: ''
  assign placeholder_svg = placeholder_svg | default: 'image'
  assign placeholder_svg_tag = placeholder_svg_tag | default: 'placeholder-svg-filled'
  assign is_background = is_background | default: false
  assign alt = alt | default: image.alt | default: 'Image' | strip_html | escape

  unless loading
    if section.location == 'header' or section.location == 'aside' or section.location == 'template' and section.index < 3
      assign loading = 'eager'
    else
      assign loading = 'lazy'
    endif
  endunless
-%}

{%- unless is_background -%}
  <div class="{{ classes }}" style="{{ styles }}">
{%- endunless -%}

{%- if has_image -%}
  <figure
    class="lazy-image {{ image_classes }}"
    style="margin: 0; max-width: 100%;"
    {{ image_attributes }}
  >
    {{
      image
      | image_url: width: width, height: height
      | image_tag:
        loading: loading,
        fetchpriority: fetchpriority,
        preload: preload,
        sizes: sizes,
        alt: alt,
        class: 'image-static',
        style: 'width: 100%; height: auto; object-fit: contain;'
    }}
  </figure>
{%- else -%}
  <div
    class="placeholder-image {{ image_classes }}"
    aria-label="{{ alt }}"
    role="img"
    {{ image_attributes }}
  >
    {{ placeholder_svg | placeholder_svg_tag: placeholder_svg_tag }}
  </div>
{%- endif -%}

{%- unless is_background -%}
  </div>
{%- endunless -%}
